<h3>Receipt for Party: <%= @party.id %></h3>

<% @foods.uniq.each do |food| %>
	<%= food.name %> x
	<%= @party.foods.where(name: food.name).count %>,
	$<%= "%.2f" % food.price %>
	<% end %>

<h5>Subtotal $<%= "%.2f" % @foods.sum(:price)%></h5>
<h5>Sales Tax $<%= "%.2f" % (@foods.sum(:price) * 0.08875) %></h5>
<h5>Total $<%= "%.2f" % (@foods.sum(:price) + (@foods.sum(:price) * 0.08875)) %> </h5>

<h3>Suggested Tip</h3>
	<p> 15% = <%= "%.2f" % (@foods.sum(:price) * 0.15) %></p>
	<p> 20% = <%= "%.2f" % (@foods.sum(:price) * 0.20) %></p>
	<p> 25% = <%= "%.2f" % (@foods.sum(:price) * 0.25) %></p>
